body {
    font-family: Arial, sans-serif;
    background-color: #f8f3f3;
    color: #333;
    margin: 0;
    padding: 0;
    text-align: center;
}

.container {
    margin-top: 50px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

#search-bar {
    padding: 10px;
    width: 60%;
    margin-right: 10px;
}

#search-btn {
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
}

#search-btn:hover {
    background-color: #0056b3;
}

.movie-card {
    display: inline-block;
    width: 180px;
    margin: 20px;
    padding: 10px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.movie-card img {
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.movie-details {
    display: none;
    margin-top: 10px;
    font-size: 14px;
    color: #555;
}
